<a href="https://www.skyliner.io/"><%= image_tag 'logo.svg', id: 'logo' %></a>
<%= image_tag 'headline.svg', id: 'headline' %>
<p>
  You&rsquo;ve successfully deployed your first application with Skyliner!
  You can modify the code in this repository to build your app.
</p>

<div>
  <a class="button" href="https://www.skyliner.io/congratulations">Take me back to Skyliner</a>
</div>
